<div class="p-6">
  <h2 class="text-2xl font-bold mb-6">Listado de Personajes</h2>


  <!-- Favorito actual -->
  <div *ngIf="favoriteCharacter" class="mb-4 p-4 bg-pink-100 rounded shadow text-pink-800">
    💖 Favorito actual: {{ favoriteCharacter.name }} - Estado: {{favoriteCharacter.status}} -
    Especie:{{favoriteCharacter.species}}
  </div>


  <!-- Filtros -->
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-6">

    <mat-form-field class="w-full">
      <mat-label>Buscar por nombre</mat-label>
      <input matInput [formControl]="nameControl" placeholder="Ej: Rick, Morty...">
    </mat-form-field>


    <mat-form-field class="w-full">
      <mat-label>Filtrar por estado</mat-label>
      <mat-select [formControl]="statusControl">
        <mat-option value="">Todos</mat-option>
       @for (status of statuses; track status) {
         <mat-option  [value]="status">
          {{ status | titlecase }}
        </mat-option>
       }
      </mat-select>
    </mat-form-field>


    <button mat-flat-button color="primary" (click)="clearFilters()" class="w-full mt-2">
      Limpiar filtros
    </button>

  </div>


  <!-- Tabla -->
  <div class="overflow-auto rounded shadow border border-gray-300">
    <table mat-table [dataSource]="dataSource" class="w-full mat-elevation-z2">


      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
      </ng-container>


      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let element"> {{ element.status }} </td>
      </ng-container>


      <ng-container matColumnDef="species">
        <th mat-header-cell *matHeaderCellDef> Especie </th>
        <td mat-cell *matCellDef="let element"> {{ element.species }} </td>
      </ng-container>


      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Tipo </th>
        <td mat-cell *matCellDef="let element"> {{ element.type || 'N/A' }} </td>
      </ng-container>


      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef> Género </th>
        <td mat-cell *matCellDef="let element"> {{ element.gender }} </td>
      </ng-container>


      <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef> Creado </th>
        <td mat-cell *matCellDef="let element">
          {{ element.created | date: 'yyyy-MM-dd' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element"> <button mat-icon-button color="warn" (click)="setFavorite(element)">
            <mat-icon>
              {{
              favoriteCharacter?.id === element.id
              ? 'favorite'
              : 'favorite_border'
              }}
            </mat-icon>
          </button>
          <button mat-icon-button color="primary" [routerLink]="['/characters', element.id]"
            matTooltip="Ver detalles">
            <mat-icon>info</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </div>


  <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons class="mt-4">
  </mat-paginator>

  <!-- Totales por tipo y especie-->
  <h2 class="text-lg font-bold mt-10 mb-4">Totales por Especie</h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    @for (item of totalBySpecies; track item) {
      <mat-card  class="p-4">
      <h3 class="text-md font-semibold">{{ item.species }}</h3>
      <p>{{ item.count }} personaje(s)</p>
    </mat-card>
    }
  </div>

  <h2 class="text-lg font-bold mt-10 mb-4">Totales por Tipo</h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    @for (item of totalByType; track item) {
      <mat-card class="p-4">
      <h3 class="text-md font-semibold">{{ item.type }}</h3>
      <p>{{ item.count }} personaje(s)</p>
    </mat-card>
    }
  </div>
</div>
